services:
  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    healthcheck:
      test: ["CMD", "rabbitmqctl", "status"]
      interval: 10s
      timeout: 5s
      retries: 10
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    volumes:
      - rabbitmq-data:/var/lib/rabbitmq

  weather-producer:
    build:
      context: ./python-app
    container_name: weather-producer
    env_file:
      - ./python-app/.env
    depends_on:
      rabbitmq:
        condition: service_healthy
    ports:
      - "8000:8000"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/health"]
      interval: 20s
      timeout: 5s
      retries: 5
      start_period: 15s

  worker-go:
    build:
      context: ./worker-go
    env_file:
      - ./worker-go/.env
    container_name: worker-go
    restart: always
    depends_on:
      rabbitmq:
        condition: service_healthy

  mongo:
    image: mongo:7
    container_name: mongo
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  nest-api:
    build:
      context: ./nest-api
      dockerfile: Dockerfile
      target: development
    env_file:
      - ./nest-api/.env
    ports:
      - "3001:3000"
    volumes:
      - /app/node_modules
      - /app/.pnpm-store
    depends_on:
      - mongo

  nest-api-prod:
    build:
      context: ./nest-api
      dockerfile: Dockerfile
      target: production
    env_file:
      - ./nest-api/.env
    restart: unless-stopped
    ports:
      - "3000:3000"
    depends_on:
      - mongo

  frontend-dev:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      target: development
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    environment:
      - NODE_ENV=development
    command: ["pnpm", "run", "dev"]

  frontend-prod:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      target: production
    container_name: frontend
    env_file:
      - ./frontend/.env
    ports:
      - "3333:80"
    depends_on:
      - nest-api-prod

volumes:
  mongo-data:
  rabbitmq-data:
